extends layout

block content
  div.content
    div 
      h1.welcome Welcome #{user.name}!
    div 
      label User name:
      input.mb10(type='text' value='#{user.username}')
    div 
      label Id: 
      input.mb10.refresh_input(type='text' value='#{user.id}')
    div 
      label Access Token: 
      input.mb10.sif_input(type='text' value='#{user.accessToken}')
    div 
      label Refresh Token: 
      input.refresh_input(type='text' value='#{user.refreshToken}')
  
